body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #121212;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282828;
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #1db954;
    background-color: #282828;
}

.search{
    width: 300px;
    padding: 1rem;
    border-radius: 2.5rem;
    border: none;
    background-color: white;
}

.playlist{
    padding: 2.5rem;
}

.song{
    margin: 0.5rem 0;
    cursor: pointer;
    padding: 0.5rem;
    border-bottom: 1px solid #333;
    transition: background-color 0.15s;
}

.song:hover{
    background-color: #1db954;
}

.song-ul li{
    display: flex;
    align-items: center;
}

.song-ul li figure img{
    width: 4rem;
    aspect-ratio: 1/1;
}

.control-button{
    background-color: white;
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-button img{
    height: 1.5rem;
}

.barra{
    position: fixed;
    bottom: 0px;
    right: 3rem;
    background-color: #333;
    padding: 1rem;
    width: 15rem;
    border-radius: 1rem 1rem 0 0;
    display: flex;
}

.barra div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.img-barra{
    height: 10rem;
    width: 10rem;
}

.barra input{
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 100%; /* Full width */
    height: 8px; /* Track height */
    background: #1db954; /* Default track color */
    border-radius: 5px; /* Rounded track */
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.barra input:hover {
    opacity: 1;
}

.barra input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    width: 20px; /* Thumb width */
    height: 20px; /* Thumb height */
    background: #333; /* Thumb color */
    border-radius: 50%; /* Rounded thumb */
    cursor: pointer; /* Hand cursor */
    border: 2px solid #1db954; /* Optional border */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Optional shadow */
}


.barra section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}
